<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="25px">

  <h1> Gifchess<span class="extension">.com</span> </h1>

  <h3>{{ content }}</h3>

  <div fxFlexAlign="stretch" class="deprecation">
    <p>
      Sorry guys, but this app is now deprecated. <br>Servers are expensive and I couldn't think of a way to offer this service for free.
    </p>
    <p> You can still use this app as a local service, though (see <a href="https://github.com/aherve/giflichess">github source & instructions here</a> )</p>
    <p>
      I hope you have a nice day !
    </p>
  </div>

  <mat-card fxFlexAlign="stretch">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px" fxLayoutAlign="space-around center">

      <div fxLayout="column" fxLayoutAlign="start center">
        <img class="demo" src="assets/BI5pQatH_upd.gif">
      </div>

      <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="start start">
        <mat-spinner fxFlexAlign="center"></mat-spinner>
        <p>Please wait while your gif is being generated...</p>
        <p>Your gif will appear below as soon as it is ready.</p>
        <p>This might take some time</p>
      </div>

      <ah-lichess-form *ngIf="!isLoading" (formEmit)="onLichessSubmit($event)"></ah-lichess-form>

    </div>
  </mat-card>

  <mat-chip-list *ngIf="isError">
    <mat-chip color="warn" selected> Whoop, something went wrong. Try again later, or with a different url</mat-chip>
  </mat-chip-list>

  <mat-card *ngIf="result" fxFlexAlign="center" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h3> Success ! Here's your gif:</h3>
    <img id="result" [src]="result">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span>Right-click </span>
      <mat-icon inline="true">arrow_forward</mat-icon>
      <span>"save as" to download it</span>
    </div>
  </mat-card>

  <!--
    -  <div>
    -    <p>This site is free, its servers are not. Please consider a donation to make things running as long as we can!</p>
    -    <ah-paypal></ah-paypal>
    -  </div>
    -
    -  <div>
    -    <p> Share the love: </p>
    -    <share-buttons [show]="4"></share-buttons>
    -  </div>
  -->

</div>
