h1 {
  color: rgb(77, 77, 77);
  .extension {
    color: rgb(120, 120, 120);
  }
}

.button-icon {
  padding: 5px;
}

.input {
  width: 100%;
}

.demo {
  height:250px;
}

.deprecation {
  padding: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: .35rem;
}
