/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@ngx-share/button/themes/default/default-theme';

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(237, 235, 233);
  color: rgb(94, 94, 94);
}
